<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Region List</ion-title>
    <ion-buttons end>
      <button text-right ion-button icon-only (click)="settingFn()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
   
  <ion-toolbar color="primary">
    <ion-searchbar showCancelButton="true" (ionInput)="onSearch($event)"
      placeholder="Search By Region"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-content">
    <ion-list *ngFor="let rj of regionJson; index as i">
      <ion-card style="border-radius: 3px;">
        <ion-grid>
          <ion-card-content style="color: #333333;">
            <ion-row style="margin-left:-20px;">
            <ion-col col-10>
              <ion-row class="bottomRow">	
                <ion-col col-3><strong>Region</strong></ion-col><ion-col col-1 text-center> : </ion-col><ion-col col-8>{{rj.region_name}}</ion-col>
              </ion-row>		
            </ion-col>
            <ion-col col-2 right (click)="goToCustomerList(rj.region_master_id)">
              <button ion-button color="primary">
                  <ion-icon name="ios-arrow-forward" color="light"></ion-icon>
              </button>
            </ion-col>
            </ion-row>		
          </ion-card-content>		
        </ion-grid>
      </ion-card>
    </ion-list>
  
  <ion-list *ngIf="isRecordAvailable">
      <ion-card style="border-radius: 3px;">
    <ion-grid>
    <ion-card-content style="color: #333333;">
      <ion-row>	
          <ion-col col-12 text-center><strong>No Records Found</strong></ion-col>
      </ion-row>		
      </ion-card-content>		
    </ion-grid>
  </ion-card> 
  </ion-list>
  </ion-content>